.gameSettings,
.playerNames,
.playerTags,
.player2Name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.gameSettings {
  font-size: var(--font-size-sm);
  font-weight: 900;
  padding: 2rem 0;
  gap: 2rem;
}


.gameSettings button {
  background-color: var(--color-white);
  border: 1px solid var(--color-black-light);
  padding: 1rem 2rem;
  font-size: inherit;
  font-weight: inherit;
  color:rgb(30, 33, 34);
}

.gameSettings button:hover,
.labelActive {
  background-color: var(--color-black);
  color: var(--color-white);
}

.gameSettings button.darkMode:hover,
.labelActive.darkMode {
  background-image: linear-gradient(to right top,
   rgb(26, 113, 163), rgb(53, 157, 218));
   background-color:rgb(53, 157, 218) ;
  color: var(--color-white);
}

.playerTags {
  margin-top: 1rem;
  gap: 2rem;
}

.flexRow {
    display: flex;
}
.flexRow button {
   flex:1;
}

.playerTags label {
  padding: 1rem 2rem;
  cursor: pointer;
}

.playerTags input {
  display: none;
}

.playerNames input {
  text-align: center;
  padding: 1rem 2rem;
  font-size: inherit;
  font-weight: inherit;
}

.playerNames input::placeholder {
  font-weight: inherit;
  text-align: center;
}

.gameStart button {
  box-shadow: 0 0 2rem rgb(9, 122, 187);
  background-image: linear-gradient(to right top, black, rgb(30, 33, 34));
    background-color: rgb(30, 33, 34) ;
    color: var(--color-white);
    font-weight: bold;
}

.gameStart button:hover {
    background-image: linear-gradient(to right top, black, rgb(15, 15, 15));
    background-color: rgb(15, 15, 15) ;
}

.gameStart button:focus {
  box-shadow: 0 0 1rem rgb(9, 122, 187);
}


.error {
  text-align: center;
  font-weight: bold;
  color: rgb(233, 30, 30);
}
