.gameSettings,
.playerNames,
.playerTags,
.gameMode,
.gameSound,
.player2Name,
.difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.gameSettings {
  font-size: var(--font-size-sm);
  padding: 2rem 0;
  gap: 2rem;
}


.gameSettings button {
  background-color: var(--color-white);
  border: 1px solid var(--color-black-light);
  padding: 1rem 2rem;
}

.gameSettings button:hover,
.labelActive {
  background-color: var(--color-black);
  color: var(--color-white);
}




.playerTags {
  margin-top: 1rem;
  gap: 2rem;
}

.langAndOpponent {
    display: flex;
}
.langAndOpponent button {
   flex:1;
}


.gameSound button {
    display: block;
}

.gameSound button svg {
    width: 1rem;
    height: 1rem;
}

.playerTags label {
  padding: 1rem 2rem;
  cursor: pointer;
}

.playerTags input {
  display: none;
}

.playerNames input {
  text-align: center;
  padding: 1rem 2rem;
  font-size: inherit;
}

.playerNames input::placeholder {
  text-align: center;
}

.gameStart button {
    background-color: var(--color-green) ;
    color: var(--color-white);
    font-weight: bold;
}

.error {
  text-align: center;
  font-weight: bold;
  color: rgb(233, 30, 30);
}
