*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* VARIABLES */

  /* LAYOUT SIZE */
  --game-board-size-sm: 18rem;
  --square-size-sm: 6rem;

  --game-board-size-md: 24rem;
  --square-size-md: 8rem;

  --game-board-size-lg: 30rem;
  --square-size-lg: 10rem;

/* FONT SIZE */
--font-size-sm: 1.5rem; 

/* COLORS */
--color-white: #fff;
--color-black: #000;
--color-black-light: rgba(36, 34, 34, 0.5);
--color-green: #1ba73d;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  color: var(--color-black);
}